.container {
    display: flex; 
    justify-content: center;
}

.container-form {
    display: flex; 
    flex-direction: column; 
    width: 300px;
}

.label-contact {
    font-weight: bold; 
    font-size: 15px;
}

.input-contact {
    padding: 5px; 
    border-radius: 10px; 
    background-color: #dddddd; 
    border-color: #d9d9d9;
    margin-bottom: 10px;
}

.submit-contact {
    background-color: orangered;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}